* {
  box-sizing: border-box;
}

html {
  margin: 0;
  background: radial-gradient(rgb(6, 6, 107), rgb(36, 36, 238));
}

#logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo img {
  margin-top: 2rem;
  width: 20%;
  object-fit: contain;
}

#logo h1 {
  color: antiquewhite;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  margin: 2rem auto;
  background: linear-gradient(rgb(2, 114, 118), rgb(3, 70, 141));
  border-radius: 5px;
  padding: 2rem;
}

.user-input {
  display: flex;
  gap: 1rem;
}

.user-input label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  color: antiquewhite;
}

.user-input input {
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(3, 32, 62);
  background-color: transparent;
  padding: 0.25rem;
}
