* {
  box-sizing: border-box;
}

html {
  margin: 0;
  background: radial-gradient(rgb(3, 3, 71), rgb(45, 45, 237));
}

#logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo img {
  margin-top: 2rem;
  width: 20%;
  object-fit: contain;
}

#logo h1 {
  color: antiquewhite;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  margin: 2rem auto;
  background: linear-gradient(rgb(2, 114, 118), rgb(3, 70, 141));
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 1px 2px 2px rgb(13, 126, 130);
}

.user-input {
  display: flex;
  gap: 1rem;
}

.user-input label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.35rem;
  color: antiquewhite;
}

.user-input input {
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(3, 32, 62);
  background-color: transparent;
  padding: 0.25rem;
}

#return-table {
  width: 50rem;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1rem;
  table-layout: fixed;
  text-align: left;
  border-spacing: 1rem;
}

/* #return-table table {
  padding-right: 2rem;
} */

#return-table thead {
  text-align: center;
  font-size: 1rem;
  color: rgb(35, 163, 71);
}

#return-table tbody {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(80, 211, 117);
}

.isvalid {
  text-align: center;
  color: rgb(179, 16, 16);
  font-size: 1.5rem;
}
